button{
background-color: #4d0019;
color: white;
padding: 10px 20px;
text-align: center;
border: solid 0px black;
cursor: pointer;
-webkit-transition-duration: 0.5s;
transition-duration: 0.5s;
}
.button:hover{
  background-color: #800000;
}
h1{
  color: #4d0019;
  text-align: center;
}
body{
  background-color: #d9d9d9;
}
table{

}

caption{
  font-size:25px;
}
tr{
  color: #4d0019;
}
td.a{
  text-align: center;
  font-size: 25px;
}
th{
  font-size: 25px;
}
