button{
  border-radius: 15px;
  background-color: #e65c00;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: solid 0px;
  padding: 15px 25px;
  -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
  .button:hover {
      background-color: #ff944d;
  }

header{
  background-color: black;
  color: #e65c00;
}
  body {
background-color: black;
  }
  div{
    background-color:#e65c00;
  }
  .second{
    background-color:black;
  }
  .header{
    align:center;
    text-align: center;
    background-color: black;
  }
  form {

  }
option, select, input, textarea{
  background-color: black;
  color: #e65c00;
}
